/.vs
/TestResults
*.user
/src/DotNet.Standard.Common/bin
/src/DotNet.Standard.Common/obj
/src/DotNet.Standard.NParsing/bin
/src/DotNet.Standard.NParsing/obj
/src/DotNet.Standard.NParsing.DbUtilities/bin
/src/DotNet.Standard.NParsing.DbUtilities/obj
/src/DotNet.Standard.NParsing.MySQL/bin
/src/DotNet.Standard.NParsing.MySQL/obj
/src/DotNet.Standard.NParsing.SQLServer/bin
/src/DotNet.Standard.NParsing.SQLServer/obj
/src/DotNet.Standard.NParsing.SQLite/bin
/src/DotNet.Standard.NParsing.SQLite/obj
/src/DotNet.Standard.NParsing.UnitTest/bin
/src/DotNet.Standard.NParsing.UnitTest/obj